%footer{style: "position:absolute;bottom:0;background:#e8e8e8;width:100%;"}
  .footer__content{style: "padding:20px 20px;"}
    %div
      %ul.footer__link-list
        %li.footer__link-list-item
          %a.footer__link{:href => privacy_infos_path}= "Privacy Policy"
        %li.footer__link-list-item
          %a.footer__link{:href => terms_infos_path}= "Terms of Service"
